
*body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

:root {
  --naranja: #ff9933;
  --fuente1: 'Permanent Marker', cursive;

}
.container {
  width:80%;
  margin: auto;
  overflow: hidden;

}
section {
  padding-top: 5em;

}
div.box p, div.boxs p, div.boxc  {
  text-align: center;
  font-family: Arial;
  font-size: 1.2em;
}
/*header*/
p.titulo {
  margin-top: 1.5em;
  font-family: var(--fuente1);
  text-align: center;
  color: #ffffff;
  font-size:4em;
  letter-spacing: 0.05em;

}


.branding {
display: flex;
}

p.titulo2 {
  font-family: Arial;
  text-align: center;
  color: #ffffff;
  font-weight:bold;
  font-size: 2em;
  line-height: 1.5;

}
div.hero.container {
  width:100% !important;
  border-top-color: var(--naranja);
  border-bottom:0.5em solid;
  border-bottom-color: var(--naranja);

}

.hero   {
    height: 25rem;
    background-image: url(../img/header1.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-top: 5em;
    min-width: 550px;



}


/*nav*/
.containernav {
  width:100% ;
  margin: auto;
  display: flex;
  position: fixed;
  top:0;
  left:0;
  background-color: #ffffff;
  border-bottom:0.5em solid;
  border-bottom-color: var(--naranja);




}

i {
  padding: 1em;
  margin: 0;
  font-size:2em;
}

.menu-toggle {
  display: none;

}
.branding #logo {
  width:200px;
  height:100px;
  float: left;
  padding-top: 0;
  padding-bottom: 0.5em;

}

.links ul li {
  display: inline-block;
  padding: 1em;
  margin: 0;

}

.links ul li a {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  color: var(--naranja);
  text-decoration: none;

}

.links ul li a:hover {

  background-color: yellow;
  border-radius: 50%;
  transition: all 0.2s;

}
/*Nosotros*/
h2.sectitulo {
  margin-top: 1.5em;
  font-family: var(--fuente1);
  text-align: left;
  color: var(--naranja);
  font-size:1.5em;
  letter-spacing: 0.05em;
}

div.box{
  font-weight: bold;
   height: 100%;
 width: 100%;
 display: flex;
}


div #box1, #box2, #box3, #box4, #box5 {
  width: 33.33%;
  font-family: Arial;

}

/*Servicios*/
div.boxs {
  display: flex;
  align-items: center;

}
#box4a , #box5a {
  text-align: center;
  width: 60%;


}
/*Contactos*/
footer {
  display: flex;
  align-items: center;
  flex-direction: column;

}
i {
  color: var(--naranja);

}
i:hover {

  background-color: yellow;
  border-radius: 50%;
  transition: all 0.2s;

}

#box7 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5em;


}
/*Media querys */
@media (max-width:768px) {
  div.box {
    display: flex;
    flex-direction: column;
  }
  div.boxs {
    display: flex;
    flex-direction: column;
  }
  div #box1, #box2, #box3, #box4, #box5 {
    width: 100%;
    font-family: Arial;

  }
  .hero   {
      background-size: cover;


  }

  p.titulo {
    margin-top: 1.5em;
    font-family: var(--fuente1);
    text-align: center;
    color: #ffffff;
    font-size:3em;
    letter-spacing: 0.05em;



  }
  p.titulo2 {
    font-family: Arial;
    text-align: center;
    color: #ffffff;
    font-weight:bold;
    font-size: 1.5em;
    line-height: 1.5;
  }
  .menu-toggle {
    display: block;
    float: right;


  }

  .branding #logo {
    width:200px;
    height:100px;
    padding-top: 0;
    padding-bottom: 0.5em;
    float: left;


  }
  header nav.active {
    left: 0px;
  }
  #barra {
    display:none;
  }
  .containernav {
    width: 100%;
  }


}
  @media (max-width:1050px) {
  .containernav {
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .menu-toggle {
    display: block;
    float: right;


  }

  .branding #logo {
    width:200px;
    height:100px;
    padding-top: 0;
    padding-bottom: 0.5em;
    float: left;


  }


  .links ul li {
    display: inline-block;
    padding: 1em;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  header nav.active {
    left: 0px;
  }
  #barra {
    display:none;
  }
  .containernav {
    width: 100%;
  }

}

@media (max-width:768px) {
.hero {
  display: none;
}
}
